<?php
return array(
    'modules'=>array(
        // uncomment the following to enable the Gii tool
        'gii'=>array(
            'class'=>'system.gii.GiiModule',
            'password'=>'casacasa',
            // If removed, Gii defaults to localhost only. Edit carefully to taste.
            'ipFilters'=>array('127.0.0.1','::1'),
        )
    ),

    'components'=>array(
        'db'=>array(
            'connectionString' => 'mysql:host=localhost;dbname=yuxuan',
            'emulatePrepare' => true,
            'username' => 'root',
            'password' => 'casacasa',
            'charset' => 'utf8',
        )
    )
);
